#CDScore {
margin-right: 5px;
margin-left: 5px;
}
html>body #naviginfo select{font-size:small}
html>body #naviginfo input{font-size:small}
html>body #CDScore input {font-size:medium;}
html>body #CDScore select {font-size:medium;}
html>body #CDScore #source select {font-size:small;}

/*
select{border:1px double grey;}
input[type=radio]{}
input[type=button]{border:1px solid grey;cursor:pointer;}
input[type=button]:hover {border:1px solid grey;background-color:white;}
input[type=reset]{border:1px solid grey;}
input[type=submit]{border:1px solid grey;}
input[type=submit]:hover {border:1px solid grey;cursor:pointer;background-color:white;}
input[type=text]{border:1px solid grey;}
*/

.popu {
clear: right;
margin-right:10px;
}
.popubarre {
border:1px solid black;
text-align:left;
}
.popu a{text-decoration: none;}
.imgpopu{
overflow:hidden;
height:10px;
background-image:url(/vizier/popubarre.png);
}
.new {
margin-right:2px;
}
.logo-image{max-width: 20px; vertical-align:middle;}

.help {
text-align:right;
vertical-align: middle;
}
.title .help {float:right;}

.timeelapse{font-size:small;color:grey;font-style:italic;display:none;}

#CDScore .right{float: right;}
#CDScore .center{text-align: center;}
#CDScore .left {float:left;}
#CDScore .bottom{vertical-align:bottom;}
#CDScore .clear{clear:both;}

.catbutton{
/*text-decoration: underline;*/
margin-left:0.2em;
margin-right:0.2em;
font-size:11pt;
padding-left:5px;
padding-right:5px;
Cursor:pointer;
}
.catname .catbutton {font-size:small;}

.headmsg {font-style:italic}

#VizieR-2 .tablist {margin-top:10px;border-collapse:collapse}
#VizieR-2 .tablist td {border-top: 1px dotted grey;}
#VizieR-2 .tablist .marge {padding-right:0.5em;}
/*#VizieR-3 .tablist {border-collapse:collapse}*/
#VizieR-3 .tablist td {border-top: 1px dotted grey;}

#VizieR-4 .tablist {padding-right:1em;margin-bottom:0.4em;margin-top:0.4em;border:1px solid grey;}
#VizieR-4 .tablist td{vertical-align:top;}
#VizieR-4 .tuple{border:1px solid #9C9BD5;margin-bottom:0.4em;margin-top:0.4em;}
#VizieR-4 .tuple td{vertical-align:top;}

.catflag {
float:right;
font-size: smaller;
font-weight: bold;
margin-right:0.2em;
padding-left:0.7em;
padding-right:0.8em;
}
.catflag a {
color:white;
}
.catflag a:hover {
background-color:white;
color:blue;
}

.defflag{
background-color: #7A8BB6;
color: white;
padding-left:0.5em;padding-right:0.5em;
}

.bibcode{display:inline;font-size:small;}
.bibcode a{color:blue; font-weight:normal}
.readmeflag {
background-color: white;
}
.readmeflag  a{
vertical-align:top;
color: #003399;
}

.metaflag {cursor:pointer;border-radius: 90%;color: white; background-color:#7A8BB6;margin:0.3em;}
.metaflag a{display: none;}

/*.objectsflag {background-color: #003399;}
.simcatflag{background-color: #006666;}*/
.objectsflag {background-color: #9C74B6;}
.simcatflag{background-color: #7CB68E;}

.UCDflag{font-size:smaller;font-weight:bold;}
.UCDflag a{background-color:#7d26cd;color:white}
.UCDflag a:hover {background-color:white;color:blue}


.ftpflag {cursor:pointer;}

#VizieR-6 .execflag a {background-image:none;padding-left:0}
.sort .execflag a {background-image:none;padding-left:0}
.execflag a {
font-weight: bold;
background-image:url(/vizier/spectre.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:35px;
}


/* ---- ERROR ---- */
.terminate {
position:relative;
/*left:11em;*/
padding-left:11em;
margin:1em;
}
#CDScore .terminate {
position:relative;
left:5%;
right:5%;
width:90%;
margin:1em;
}
.error{
border:1px solid red;
padding:10px;
background-color:pink;
}
.error .title{font-weight:bold;color:red;}
.notyet{
border:1px solid green;
padding:10px;
background-color:#CDFFCD;
}
.notyet .title{font-weight:bold;color:green;}
.warning{background-image:url(/vizier/warning.gif);background-repeat:no-repeat;
padding-left:30px;color:brown;font-style:italic;}
.sesame{background-image:url(/vizier/I.png);background-repeat:no-repeat;
padding-left:30px;font-style:italic;background-size: 20px;color: #083c91}
.warning .title{font-weight:bold;color:brown}
#msgontop{background-image:url(/vizier/progress.gif);background-repeat:no-repeat;padding-left:100px;font-style:italic;font-size:small;}

/* ---- tuple usage ---- */
tr.join {
background-color:#FBF5EF;
color:black;
}

.col0 {background-color:#DEDEFF;}
.col1 {background-color:#BFD1FF;}
.col2 {background-color:#91BFFF;}

.tuple-1 .col0 {background-color:#DEDEFF;}
.tuple-1 .col1 {background-color:#BFD1FF;}
.tuple-1 .col2 {background-color:#91BFFF;}

.tuple-2 .col0 {background-color:white;}
.tuple-2 .col1 {background-color:#E9F5FF;}
.tuple-2 .col2 {background-color:#D3F2FF;}

table.tuple td {
padding:0px;
margin:0px;
}
table.tuple{
background-color:#DAEBFF;
}

.joincol {background-color:yellow;}
.separator {background-color:#9c9bd5;}
.joindefault {font-size: smaller;}

/* join css (page3)*/
.join .pkey {}
.join {
font-size: smaller;
}
.join .note {
font-weight: bold;
color:brown;
}
.join .none {
font-weight: bold;
color:brown;
}

.nkeyhidden{
display: none;
}
.nkeyshow{
display: inline;
opacity:0.3;
}
.idkey{opacity:0.3;}

.note  {font-size:small;font-style:italic;vertical-align:middle;}
.space {margin-left:2em;}

#CDScore .footprint{width:100px}
#CDScore .title {font-weight:bold;}
#CDScore #vcooopt {border-top:1px dotted;}
#CDScore #vlistname  {font-size:12pt;color:brown;font-weight:bold;}

#CDScore .computlist td{padding-right:0.5em;}
#CDScore .computlist {max-width:1100px;font-size:small;}

.Vbgcol0 {background-color:#f4f4f4;}
.Vcol0{color:#f4f4f4;}
.Vbgcol1 {background-color:#DBDBDB}
.Vcol1 {color:#DBDBDB}
.Vbgcol2 {background-color:#F1F3FB;}
.Vcol2 {color:#E3E6FB;}
.Vbgcol3 {background-color:#f2effb;}
.Vcol3 {color:#f2effb;}
.Vbgcol4 {background-color:#9c9bd5;}
.Vcol4 {color:#9c9bd5;}
.Vbgcol5 {background-color:#083c91;}
.Vcol5 {color:#083c91;}
.Vbgcol6 {background-color:#555555;}
.Vcol6{color:#555555;}

#CDScore .in {background-image:url(/vizier/VizieR/navigbar/on.png);}
#CDScore .out {background-image:url(/vizier/VizieR/navigbar/off.png);}

#CDScore #upequinox{text-decoration:underline}
#CDScore .target1 {min-width:48em;margin:0;padding:0;margin-top:1em;}
#CDScore .target1 .title {margin-left:2em;}

#CDScore .onglet{
font-weight:bold;
font-size:11pt;
height:30px;width:180px;
padding-top:2;
padding-bottom:0;
padding-left:12;
padding-right:4;
}
#CDScore .target0 .hiddenb{
color:grey;
border-right:1px solid grey;
background-image:url(/vizier/target_selectedoff.png);
background-repeat:no-repeat;
}
#CDScore .target0 .show  {display:inline; }
#CDScore .target0 .showb {
color:black;
border-right:1px solid grey;
background-image:url(/vizier/target_selected.png);
background-repeat:no-repeat;
}
#CDScore .target0 .selectb {
color:black;
border-right:1px solid white;
background-image:url(/vizier/target_over.png);
background-repeat:no-repeat;
}

#CDScore .target1 .hiddenb {
color:#42639a;
border-right:1px solid #d5e1fb;
background-image:url(/vizier/target_selectedoff3.png);
background-repeat:no-repeat;
}
#CDScore .target1 .showb {
color:#083c91;
border-right:1px solid #083c91;
background-image:url(/vizier/target_selected3.png);
background-repeat:no-repeat;
}
#CDScore .target1 .selectb {
color:#083c91;
border-right:1px solid white;
background-image:url(/vizier/target_over3.png);
background-repeat:no-repeat;
}

#CDScore .hand {cursor:pointer;}
#VizieR-1 #CDScore #target {padding-left:5px;padding-right:0px;margin-left:5px;margin-right:8px;}
html>body #VizieR-1 #CDScore .section {padding-left:5px;padding-right:0px;margin-left:5px;margin-right:5px;}
#CDScore .sort2d{color:brown;font-size:small;}
#CDScore .sort3{font-size:small;}
#CDScore .obsolete{color:grey;}

.hidden{display:none;}

#CDScore .wavelength{
width:119px;
height:12px;
background-image:url(/vizier/spectre_119x12.png);
background-repeat:no-repeat;
margin-right:0.5em;
}
#CDScore .waveband{
width:17px;
height:12px;
float:left;
background-color:white;
opacity:0;
-moz-opacity: 0;
-ms-filter:"alpha(opacity=0)";
filter:alpha(opacity=0);
}
#CDScore .opaq{
opacity:0.9;
-moz-opacity: 0.9;
-ms-filter:"alpha(opacity=90)";
filter:alpha(opacity=90);
}
#CDScore .opaq1{
opacity:0.5;
-moz-opacity: 0.5;
-ms-filter:"alpha(opacity=50)";
filter:alpha(opacity=50);
}

#CDScore .localadd{float:left;}

#form_hidden {display:none}

#CDScore .helpimg {border:none;vertical-align:middle;}
#CDScore table .helpimg {border:none;vertical-align:bottom;}
#CDScore table td a img {border:none;}

#CDScore .saadaref  a {color:black;background-color:white}
#CDScore .saadaref  img {width:40px;vertical-align:middle;}

/*#navig-time {display: None}*/
#navig-colcite {display: None}

/*Page 1*/
#VizieR-1 #formsection{border:1px solid;margin-top:10px;padding-bottom:2.5em;width:100%;min-width:50em;}
html>body #VizieR-1 #submitsection {min-width:40em;max-width:60em;position:relative;}
#VizieR-1 #submitsection {padding-left:0.5em;width: expression("800px");position:relative;top:-2.5em;}
html>body #VizieR-1 #CDScore .section{max-width:60em;}
#VizieR-1 #CDScore .section{width: expression( document.body.clientWidth > 779 ? "780px" : "auto" );}

#VizieR-1 #submitsection img{vertical-align:middle;border:none;}
#VizieR-1 #submitsection a{font-size:small;}
#VizieR-1 #submitsection input{padding-right:1em;}
#VizieR-1 .unknown {font-style:italic;color:red;}
#VizieR-1 .unknownvalue {font-style:normal;color:black;background-color:pink;}
#VizieR-1 #resetb {background-image:url(/vizier/VizieR/reset.png);background-repeat:no-repeat;width:16px;height:16px;border:0;cursor:pointer}

#VizieR-1 #othersbrowse td{width:40%;}
#VizieR-1 #select_ucd{font-size:small;font-weight:bold;bottom:0;}
#VizieR-1 #select_ucd .note {font-weight:normal;}
#VizieR-1 #select_media {font-size:small;font-weight:bold;bottom:0;color:black;}
#VizieR-1 #media {font-size:small;color:black;}

#VizieR-1 .section tr{vertical-align:top;}
#VizieR-1 #vmine {font-style:italic;color:green;font-weight:bold;font-size:small;}

#VizieR-1 #aformopt{color:black}
#VizieR-1 .actaref{background-position:left center;background-repeat:no-repeat;padding-left:15px;cursor:pointer;text-decoration:underline;}
#VizieR-1 .filled{color:green;}
#VizieR-1 #compoption{font-size:small;font-weight:bold;color:black;}

#VizieR-1 #target {border:1px solid;margin-top:0.5em;}
#VizieR-1 #option{margin-top:10px;}

#VizieR-1 .strict{font-size:small;}
#VizieR-1 #vmineashow {font-weight:bold;font-size:small;}
#VizieR-1 #target table  td{vertical-align:top;}
#VizieR-1 #vmineashow {margin-left:3px;margin-top:0.5em;font:large;}
#VizieR-1 #vminelist .warn {margin-left:1em;margin-right:0.5em;color:brown;font-size:normal;font-weight:bold;font-style:italic;}

#VizieR-1 select {max-width:12em;}
#VizieR-1 .tab100{width:100%;}
#VizieR-1 #source table  td{vertical-align:top;}

#VizieR-1 .warning{background-color:#FFF3A5;border:1px solid brown;padding-right:4px;}
#VizieR-1 #ucd2core{color:black;}

#VizieR-1 #related{background-position:right top;background-repeat:no-repeat;font-size:small;padding-top:1px;}
#VizieR-1 #source table .headstring{font-size:small;font-weight:bold;}
#VizieR-1 #source table .title{font-size:normal}
#VizieR-1 #source {margin-top:0.5em;}
#VizieR-1 #source select{padding-top:0;padding-bottom:0;}
#VizieR-1 .findData input {background-color:#F1F3FB;color:#083c91;border:1px solid;cursor:pointer;font-size:smaller;width:3.5em;}
#VizieR-1 .findData input:hover {background-color:#083c91;color:#F1F3FB;}
#VizieR-1 #source input[type=submit] {background-color:#f2effb;color:#083c91;border:1px solid #083c91;cursor:pointer;padding:0;margin:0;font-size:small;}
#VizieR-1 #source input[type=submit]:hover {background-color:#083c91;color:#F1F3FB;}
#VizieR-1 #itarget{width:14em;}
#VizieR-1 #isource{width:19em;}
#VizieR-1  #source td {vertical-align:middle}
#VizieR-1 .morelinks ul {list-style-type: square;}
#VizieR-1 .morelinks li .title {display:inline;font-size:small;}
#VizieR-1 .morelinks li .explain {left:200px;display:inline;}

#VizieR-1 #photometry {display:/*inline;*/none;font-style:italic;margin-top:2em; }
#VizieR-1 #photometry input{background-color:#F1F3FB;color:#083c91;border:1px solid;cursor:pointer;font-size:smaller;margin-top:5px;width:3.5em;}
#VizieR-1 #photometry input:hover {background-color:#083c91;color:#F1F3FB;}

#VizieR-1 .sed {text-align:right;width:100%;/*float:right*/}
#VizieR-1 .sed a {background-image:url(/vizier/spectre.png);background-repeat:no-repeat;padding-left:38px;font-weight:bold;font-size:small;padding-right:0.5em;}

#VizieR-1 #othersbrowse table { display:none; }

#VizieR-1 .menutools{}
#VizieR-1 .menutools img{width:24px;vertical-align:middle;}
#VizieR-1 .menutools a{font-size:small}
#VizieR-1 .menutools .title{display:inline;padding-right:1em;font-weight:bold;}
#VizieR-1 .vcoo a img{margin:5px;}
#VizieR-1 .orderform {display:inline;font-size:small;}
/* Page 2*/
#VizieR-2 .readmeobj{background-color:#f4f4f4;}
#VizieR-2 .tablist .sort{
cursor:pointer;
background-image:url(/vizier/lib/sortable/sort_down.png);
background-repeat:no-repeat;
background-position:center center;
}
#VizieR-2 .tablist td{vertical-align:top;padding-top:1px;}


#VizieR-2 #CDScore .section {border:1px solid;}
#VizieR-2 .aobsolete{font-size:small;}
#VizieR-2 .obsolete{color:grey;}
#VizieR-2 .density{font-size:small;color:brown;}

/* Page 3*/
#VizieR-3 .tablist{margin-top:0.5em;}
#VizieR-3 .tablist {border-collapse:collapse}
#VizieR-3 #CDScore .section {border:1px solid;}
#VizieR-3 #vcst table {background-color:white;}
#VizieR-3 #vcst .section td {border-bottom:1px dotted grey;}
#VizieR-3 #vcst td td {border-bottom:none}
#VizieR-3 #vcst .section {border:1px solid grey}
#VizieR-3 .constraintmenu{width:100%}
#VizieR-3 .constraintmenu td{vertical-align:bottom}
#VizieR-3 .cstcol{background-color:#FFF3CD;}
 
#VizieR-3 #xmatch{font-size:small;padding-left:2px;border:1px solid;border-top:0;padding-right:2px;}
#VizieR-3 #xmatch .menu{color:brown;font-weight:bold;}
#VizieR-3 #xmatch input{width:3em}
#VizieR-3 #xmatch .data{margin-right:3em}
#VizieR-3 .acdsxmatch{float:right; font-size:small;font-weight:bold;}
#VizieR-3 #adaptform {margin-top:1em;}
#VizieR-3 #adaptform td {font-size:small;vertical-align:top;padding-right:2em;}
#VizieR-3 #adaptform .action {background-color:white;color:grey;border:1px solid grey;margin-bottom:4px;font-weight:bold;padding-left:2px;padding-right:2px;margin-left:1em;}
#VizieR-3 #adaptform .action:hover {background-color:grey;color:white;border:1px solid white;cursor:pointer;}
#VizieR-3 #adaptform img {vertical-align:middle;}
#VizieR-3 .idx{color:brown;Cursor:help;}

/*Page 4*/
#VizieR-4 #samp{position:absolute;top:41px; right:0px;margin-top:0.5em}
#VizieR-4 #samp img{border:none;}
#VizieR-4 #samp .text {font-size:small;margin-right:5px;}
#VizieR-4 #sampON {text-align:center}
#VizieR-4 #sampOFF {text-align:center}
#VizieR-4 .wavelength{float:right;}
#VizieR-4 #CDScore .section {border:1px solid;}
#VizieR-4 #atarget{padding-left:15px;background-repeat:no-repeat;background-position:left center;
text-decoration:underline;color:black;cursor:pointer;font-size:small;}
#VizieR-4 #target{margin-top:-0.5em;}
#VizieR-4 #resume {margin-top:0.5em;border:1px solid;padding:10px;padding-left:34px;font-style:italic;background-image:url(/vizier/I.png);background-repeat:no-repeat;}
#VizieR-4 #aresume {padding-left:15px;margin-bottom:0.5em;background-repeat:no-repeat;background-position:left center;
text-decoration:underline;color:black;cursor:pointer;font-size:small;}

#aladinDiv {height:300px;}
.aladinflag {text-decoration:underline;background-image:url(/vizier/CDS/aladin_40x35.png);background-position:left center;background-repeat:no-repeat;padding-left:45px;cursor:pointer;margin-bottom:0.5em;}
/*#aladinDiv{width:280px;height:300px;}*/
#aladinFrame{width:600px;height:300px;font-size:small;text-decoration:underline;cursor:pointer;}
.displaySource a {display:none;}
.displaySource:hover{background-color:yellow}
.aladinSelection{background-color:yellow}
table.sort  a.full{color:#CD5B45;}
.widgeturl {margin-left:50px;background-image:url(/vizier/spectre.png);background-position:left center;background-repeat:no-repeat;padding-left:45px;}
.tapquery {/*display:none;*/margin-left:50px;background-image:url(/vizier/welcome/img/ivoa.png);background-size:35px ;background-position:left center;background-repeat:no-repeat;padding-left:45px;}

/*Page 5*/
#VizieR-5 .recno{display:none;}

/*Page 6*/
#VizieR-6 #atarget{padding-left:15px;background-repeat:no-repeat;background-position:left center;
text-decoration:underline;color:black;cursor:pointer;font-size:small;}
#VizieR-6 #target{margin-top:-0.5em;}
#VizieR-6 #resume {margin-top:0.5em;border:1px solid;padding:10px;padding-left:34px;font-style:italic;background-image:url(/vizier/I.png);background-repeat:no-repeat;}
#VizieR-6 #aresume {padding-left:15px;margin-bottom:0.5em;background-repeat:no-repeat;background-position:left center;}

.annotation a {font-style:italic;font-weight:normal;font-size:small;margin-left:1em;}
/*.annotation a {font-style:italic;font-weight:normal;}
.annotation a {font-size:small; padding-left:5px;padding-right:5px;}*/
#annotations{background-color:#EDF8FF;margin-top:10px;}
#annotations .title {margin-bottom:10px;}
#annotations .annot{margin-bottom:10px;}
#annotations .section{border:1px solid;padding-right:2px;padding-left:2px;}
#annotations .section .title{font-weight:bold;}
#annotations .annot .title{font-size:small;font-style:italic;background-color:#C2E6FF;border-bottom:1px dotted;}
#annotations .title .right{float:right;}

#annotations {margin-left:11em;}
#CDScore #annotations {margin-left:0em;}

#VizieR-5 #serviceslink {width:100%;/*vertical-align:top;*/font-size:small; font-style: italic;}
#VizieR-5 #serviceslink a {font-size:small; font-style: italic;}
#VizieR-5 #serviceslink img {vertical-align:bottom;vertical-align:middle;margin-right:0.5em;}
#VizieR-5 #serviceslink .left{float:left; margin-left:1em;max-width:20em;margin-bottom:0.5em;}
#VizieR-5 #serviceslink .sedlink {display:none;}

/* jQuery widgt dialog using option  dialogClass: 'welcome' */
.vizierdialog .ui-widget-header {
border: none;
background: #7A8BB6; 
color: #ffffff;
font-size: 18px;
font-style: italic;
}


.meta_section { font-size:small}
.meta_section table { font-size:small}
.meta_section h1 {font-weight: bold; margin: 0; padding-left:2em; margin-top:0.5em; margin-bottom:0.5em;font-size:medium; color:white; background-color:#7A8BB6;}

.tcite {font-size:small; }
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#Vmenuappli {
  z-index: 1;
}
